.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 650px;
    background-color: blue;
}
.container div {
    display: flex;
    justify-content: center;
}
input {
    margin-top: 20%;
    position: relative;
}
img {
    position: absolute;
    left: 55%;
    top: 42.5%;
}